.backGround {
    background-image: url("../../../src/img/bgAuth.jpg");
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: contain;
    justify-content: center;
    
    background-position: center;
}